@page
@model SolucionWebGranoVivo.Pages.Trabajador.Clientes.DetailsModel

@{
    ViewData["Title"] = "Detalles del Cliente";
}

<h1>Detalles del Cliente</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente!.Nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente!.Nombres)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente!.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente!.Apellidos)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente!.RUC)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente!.RUC)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente!.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente!.Direccion)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente!.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente!.Telefono)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente!.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente!.Email)
        </dd>
    </dl>
</div>

<div>
    <a asp-page="./Index" class="btn btn-secondary">Volver</a>
</div>
